<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registration</title>
  </head>
  <body>
    <div class="container">
      <form action="{% url 'login:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Register</legend>
          Name: <input type="text" name="name" value=""><br>
          Alias: <input type="text" name="alias" value=""><br>
          Email: <input type="text" name="email" value=""><br>
          Password: <input type="password" name="password" value=""><br>
          <p>Password must be at least 8 characters long</p>
          Confirm Password: <input type="password" name="confirm" value=""><br>
          Date of Birth<input type="date" data-date-inline-picker="true" name='birthday'/> <br>
          <input type="submit" name="submit" value="Register">
        </fieldset>
      </form>

      <form action="{% url 'login:login' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Login</legend>
          Email: <input type="text" name="email" value=""><br>
          Password: <input type="password" name="password" value=""><br>
          <input type="submit" name="submit" value="Login">
        </fieldset>
      </form>
      <div class="error_messages">
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
